<a href="https://colab.research.google.com/github/altreetop/SecondInnings_Classes/blob/main/class3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# class 3 notebook
x =20.5
print(type(x)) #tells you what type of variable you have

<class 'float'>

In [2]:
import keyword
print(keyword.kwlist)  # lists your keywords that cannot be assigned as variables

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [7]:
x = "34"        # assigns string data type !note cannot assign integer to character string!
print(type(x))
x = int(x)      #change data type to integer 
print(type(x))
print(x)

<class 'str'>
<class 'int'>
34

In [8]:
fname = 'king'
sname = 'kong'
print(fname+sname)    # the concatenation of s + t

kingkong

In [11]:
fname = 'king'
sname = str(1)   # both types must be strings, cant mix int and str
print(fname+sname)    # the concatenation of s + t

king1

In [17]:
x = "hannah"    # x has been assigned the var "hannah"
y = ""          # empty string assigned

for char in x:    # takes each element of x 
  y = char + y    # append char to y
  print(y)
print(y)

if x == y:
  print("this is a palindrome")
else:
  print("no luck try again")

h
ah
nah
nnah
annah
hannah
hannah
this is a palindrome

In [19]:
## This is a simple program to check for Palindromes    ##
x = "abcd"    # x has been assigned the var "hannah"
y = ""          # empty string assigned

for char in x:    # takes each element of x 
  print(char)
  y = char + y    # append char to y
  print(y)
print(y)

if x == y:
  print("this is a palindrome")
else:
  print("no luck try again")

a
a
b
ba
c
cba
d
dcba
dcba
no luck try again

In [30]:
list_example = ["apple","banana","'mango","人参"]
print(list_example)
list_example.append("grapes")
print(list_example)
list_example.append("grapes")
print(list_example)
list_example.remove("grapes")
print(list_example)

print(list_example[3])      # lists the 3th element of the list
print(list_example[4])      # lists the 4th element of the list

list_example.append(1)      # appends the list with an integer

['apple', 'banana', "'mango", '人参']
['apple', 'banana', "'mango", '人参', 'grapes']
['apple', 'banana', "'mango", '人参', 'grapes', 'grapes']
['apple', 'banana', "'mango", '人参', 'grapes']
人参
grapes

In [39]:
dict_ex ={"Name":"King","Age":"144","Class":"Python"}
print(type(dict_ex))
print(dict_ex['Age'])       # calling a specific index
dict_ex['Size']='Medium'    # Adding to the dictionary
print(dict_ex)

dict_ex.pop('Size')        # Removes the Size key value pair
print(dict_ex)

dict_ex['Name']='Kong'     # changes value for name
print(dict_ex)

<class 'dict'>
144
{'Name': 'King', 'Age': '144', 'Class': 'Python', 'Size': 'Medium'}
{'Name': 'King', 'Age': '144', 'Class': 'Python'}
{'Name': 'Kong', 'Age': '144', 'Class': 'Python'}

In [42]:
## tuple example
tuple_ex=('king','kong',222,333)
print(type(tuple_ex))
print(tuple_ex)

print(tuple_ex[2])

<class 'tuple'>
('king', 'kong', 222, 333)
222

In [52]:
## set example
set_ex ={"リンゴ","banana","桜ん坊"}
set_ex.add("grapes")
set_ex.add("apricot")  #erroneous, can only have one grapes entry

set_ex.remove("grapes")

print(set_ex)

#print(set_ex[0])    # don't do this, set is unordered and not indexed

{'リンゴ', '桜ん坊', 'apricot', 'banana'}